@tailwind base;
@tailwind components;
@tailwind utilities;

.section {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-out;
  }
  
  .section.visible {
    opacity: 1;
    transform: translateY(0);
  }

  ::selection {
    background-color: rgba(74, 222, 128, 0.85); 
    color: #0A192F;
    text-shadow: 0 0 8px rgba(34, 211, 238, 0.6); 
  }
  
  ::-moz-selection {
    background-color: rgba(74, 222, 128, 0.85);
    color: #0A192F;
    text-shadow: 0 0 8px rgba(34, 211, 238, 0.6);
  }